.herosection {
  background-image: url("https://res.cloudinary.com/dbat8c1bl/image/upload/v1741491893/Blue_Navy_hyvigk.webp");
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.herosection_image {
  width: 50%;
}

.herosection_image img {
  height: 450px;
  width: 450px;

  animation: popOut 2s ease-in-out;
  transform-style: preserve-3d;
}

@keyframes popOut {
  0% {
    transform: translateZ(800px) rotateX(50deg) rotateY(50deg);
  }
  100% {
    transform: translateZ(0) rotateX(0deg) rotateY(0deg);
  }
}

.herosection_description {
  width: 50%;
  padding-right: 60px;
  margin-top: -130px;

  animation: heroText 1s ease-in-out;
  transform-style: preserve-3d;
}

@keyframes heroText {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.herosectionDescription_Title {
  font-size: 45px;
  /* color: var(--primary-color); */
  color: aliceblue;
  margin-bottom: 12px;
}

.herosectionDescription_subtitle {
  /* color: var(--secondary-color); */
  color: #9dcfdb;
  letter-spacing: 3px;
  margin-bottom: 20px;
}

.herosectionDescription_paragraph {
  color: #cbc8c8;
  text-align: justify;
}

@media screen and (max-width: 912px) {

  .herosection {
    padding: 20px;
  }
  .herosection_image img {
    height: 350px;
    width: 350px;
  }

  .herosection_description {
    padding-right: 40px;
    margin-top: 0px;
  }

  .herosectionDescription_Title {
    font-size: 35px;
    margin-bottom: 12px;
  }

  .herosectionDescription_subtitle {
    letter-spacing: 2px;
    font-size: 17px;
    /* margin-bottom: 20px; */
  }

  .herosectionDescription_paragraph {
    font-size: 14px;
  }
}

@media screen and (max-width: 600px) {
  .herosection {
    display: table-cell;
  }

  .herosection_image,
  .herosection_description {
    width: 100%;
  }

  .herosection_image img {
    height: 360px;
    width: 360px;
  }

  .herosection_description {
    padding-right: 0;
  }

  .herosectionDescription_Title {
    font-size: 40px;
    color: #dfdfdf;
    text-align: center;
  }

  .herosectionDescription_subtitle {
    color: #b1b1b1;
    text-align: center;
  }

  .herosectionDescription_paragraph {
    font-size: 14px;
    padding: 0 50px;
  }
}

@media screen and (max-width: 425px) {
  .herosection_image img {
    height: 320px;
    width: 320px;
  }

  .herosectionDescription_Title {
    font-size: 35px;
  }

  .herosectionDescription_paragraph {
    font-size: 12px;
    padding: 0 20px;
  }
}
