.newArraivals {
  margin: 40px 0;
}

.newArraivals_items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.newArraivals_item {
  position: relative;
  box-shadow: lightgray 1px 1px 10px;

  width: 20rem;
  height: 280px;
}

.newArraivals_item_img {
  width: 100%;
  height: 100%;
}

.newArraivals_item_content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
  opacity: 0.85;

  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  display: none;

  transition: all 0.7s ease;
  animation: arrival_animation 0.7s ease;

  /* transform: scaleX(0);
  transition: transform 0.5s ease; */
}

@keyframes arrival_animation {
  from {
    opacity: 0;
    height: 0;
  }
  to {
    opacity: 0.85;
    height: 100%;
  }
}

.newArraivals_item:hover .newArraivals_item_content {
  display: flex;
}

/* .newArraivals_item_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} */

.newArraivals_item_content-title {
  font-size: 30px;
  color: white;
  margin-top: 20px;
  margin-bottom: 10px;
}

.newArraivals_item_content-des {
  padding: 20px 40px;
  color: #dfdfdf;
}

/* about us */
.aboutcompany {
  background-color: lightgray;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  margin-top: 150px;

  /* height: 30rem; */
}

.aboutcompany_left,
.aboutcompany_right {
  width: 50%;
  height: 100%;
}

.aboutcompany_left img {
  height: 30rem;
  width: 100%;
}

.aboutcompany_right {
  padding: 50px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.aboutcompany_right-title {
  color: var(--primary-color);
  margin-bottom: 25px;
}

.aboutcompany_right-subtitle {
  margin-bottom: 15px;
}

.aboutcompany_right-p {
  text-align: justify;
  color: gray;
}

/* trade template */

.tradeteam_title {
  margin-top: 30px;
}

.tradeteam_members {
  display: flex;
  justify-content: space-around;
  align-items: center;

  flex-wrap: wrap;
  margin-top: 5rem;
}

.tradeteam_member {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;

  width: 20rem;
  height: 16rem;
  padding: 20px;
  margin-bottom: 100px;

  box-shadow: lightgray 1px 1px 10px;
  border-radius: 20px;
  position: relative;
}

.tradeteam_member:hover {
  box-shadow: var(--primary-color) 1px 1px 10px;
}

.tradeteam_member_image {
  border: 8px solid white;
  /* padding: 5px; */
  border-radius: 50%;

  height: 130px;
  width: 130px;

  position: absolute;
  top: -70px;
  left: 90px;

  transition: all 0.7s ease;
}

.tradeteam_member:hover .tradeteam_member_image {
  transform: scale(1.1);
}

.tradeteam_member .tradeteam_member_image img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  /* border: 1px solid gray; */

  box-shadow: lightgray 1px 1px 10px;
}

.tradeteamMember_title {
  text-align: center;
}

.tradeteam_member h3 {
  color: var(--primary-color);
  margin-top: 10px;
  margin-bottom: 5px;
}

.tradeteam_member p {
  font-size: 12px;
  color: gray;
}

.tradeteamMember_contact {
  text-align: left;
  margin-top: 30px;
}

.tradeteamMember_contact p {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 10px;
  margin: 5px 0;

  font-size: 15px;
}

.tradeteamMember_contact p svg {
  font-size: 15px;
}

@media screen and (max-width: 912px) {
  .aboutcompany {
    background-color: transparent;

    flex-direction: column;
  }

  .aboutcompany_left,
  .aboutcompany_right {
    width: 100vw;
    /* height: 100%; */
  }
}

@media screen and (max-width: 912px) {
  .aboutcompany_right {
    padding: 10px;
  }
}
