.productDetails {
  padding: 6rem 0;
}

.productDetails_top {
  display: flex;
  justify-content: center;
  align-items: start;

  gap: 2rem;

  margin-bottom: 20px;
}

.productDetials_largeimgContainer {
  width: 30rem;
  height: 30rem;

  box-shadow: lightgray 1px 1px 10px;
}

.productDetials_largeimgContainer .largeImg {
  width: 100%;
  height: 100%;

  object-fit: contain;
}

.productDetialsTop_right {
  max-width: 30rem;
}

.productDetails .product_title {
  color: var(--primary-color);
  margin-bottom: 15px;
}

.productDetails .productDetialsTop_desc {
  color: gray;
}

.productDetails .priceRange_div {
  display: flex;
  align-items: end;
  gap: 5px;

  margin: 10px 0;
}

.productDetails .priceRange_div p {
  color: var(--primary-color);
  font-weight: bold;
}

.productDetails .restImages {
  display: flex;
  justify-content: flex-start;
  gap: 16px;
  flex-wrap: wrap;
  margin: 20px 0;

  width: 30rem;
}

.productDetails .restImages .restImage {
  height: 5.2rem;
  width: 5.2rem;
  object-fit: contain;

  cursor: pointer;

  box-shadow: lightgray 1px 1px 10px;
}

.productDetails .productDetialsTop_right ul {
  padding: 10px 20px;
  margin-bottom: 2rem;
}

.productDetails .productDetialsTop_right ul li {
  padding: 3px 0;
  border-bottom: 1px solid gray;
}

.productDetails .productDetails_des {
  background-color: #e2e2e2;
  padding: 30px;
}

.productDetails_des .productDetailsDes_tableContainer {
  background-color: white;
  padding: 5px 30px 20px 30px;
}

.productDetailsDes_tableContainer h4 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.productDetails_des .secification_title {
  margin: 10px 0;
}

.productDetailsDes_tableContainer table {
  width: 100%;
  /* margin: 20px auto; */
  border-collapse: collapse;
}
.productDetailsDes_tableContainer th,
.productDetailsDes_tableContainer td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.productDetailsDes_tableContainer td:first-child {
  width: 20%;
  background-color: #f4f4f4;
}

.productDetailsDes_tableContainer td:last-child {
  width: 80%;
}


@media screen and (max-width: 912px) {
    .productDetials_largeimgContainer {
        width: 25rem;
        height: 25rem;
      }

      .productDetails .restImages {
        gap: 22px;
        width: 25rem;
      }

      .productDetialsTop_right {
        padding: 0 10px;
      }
}


@media screen and (max-width: 768px) {
    .productDetails_top {
        flex-wrap: wrap;
      }
}

@media screen and (max-width: 412px) {
    .productDetials_largeimgContainer {
        width: 20rem;
        height: 22rem;
      }

      .productDetails .restImages {
        gap: 10px;
        width: 20rem;

        justify-content: center;
      }
}