.emailSection {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    width: 100%;

    padding: 10px;
}

.emailSection form {
    position: relative;
    width: 100%;
}

.input-div {
    /* margin: 10px 0; */
}

.emailSection form input {
    padding: 10px;
    background-color: #d9dee7;
    border: none;

    width: 100%;
}

.emailSection form textarea {
    padding: 10px;
    background-color: #d9dee7;
    border: none;

    width: 100%;
}

.mailSubmitButton input{
    background-image: linear-gradient(
    to bottom right,
    var(--primary-color),
    var(--secondary-color)
  );
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-image 0.3s ease-in-out;
  font-size: 19px;
  text-decoration: none;
  /* letter-spacing: 2px; */

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;

  font-weight: 100;

  margin-top: 30px;
}