/* @import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:wght@300;400&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap");

#root {
  --primary-color: #0f2fc4;
  --secondary-color: #475EC8;
  --secondary-color-2: #f7f1e3;
  --page-bg: #7c5531;
  --pink-color: #ff7eb9;
  --blue-color: #54a0ff;

  --ubuntu: "Ubuntu", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--ubuntu);
}

body {
  /* background-color: #7c55313a; */
  overflow-x: hidden;
}

/* For WebKit browsers (e.g. Chrome, Safari) */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #ebeaea;
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
}

::-webkit-scrollbar-thumb:hover {
  background: #686868;

  /* For Firefox */
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;

  /* For Internet Explorer and Edge */
  -ms-overflow-style: none;
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}

/* ********************Common styles****************
********************************************* */
.section_heading {
  color: var(--primary-color);

  text-align: center;
  padding: 20px;
}

.button_primary {
  background-image: linear-gradient(
    to bottom right,
    var(--primary-color),
    var(--secondary-color)
  );
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-image 0.3s ease-in-out;
  font-size: 19px;
  /* letter-spacing: 2px; */
}

.button_primary:hover {
  background-image: linear-gradient(
    to bottom right,
    var(--secondary-color),
    var(--primary-color)
  );
}

.button_primary:active {
  transform: scale(1.03);
}

.button_disable {
  background-color: #e6e6e6;
  color: #a0a0a0;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: not-allowed;
  font-size: 19px;

  transition: all 0.5s ease-in-out;
  animation: disableButton_animation 0.2s ease-in-out;
}

@keyframes disableButton_animation {
  from {
    opacity: 0;
    transform: scale(0.7);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* .header_text {
  color: var(--secondary-color);
  font-size: 28px;
  margin: 1rem 0;
  font-weight: 700;
} */

.largewidth {
  max-width: 1450px;
  margin: auto;
}

.div_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 680px) {
}
